<div class="container-mt-5">
<div class="row">
</div>
</div>

<footer class="footer">
    <div class="footer_content">
        <div class="footer_content__row">
            © 2020-2021 HydraRP
        </div>
        <div style="margin-left: 10px;">
            <a href="//showstreams.tv/" style="display: flex;"><img src="//www.free-kassa.ru/img/fk_btn/16.png" title="Бесплатный видеохостинг"></a>
        </div>
    </div>
    <div class="footer_content_second">
        <a href="/doc/oferta.pdf" class="footer_content__row">
            Пользовательское соглашение
        </a>
        <a href="/doc/privacy.pdf" class="footer_content__row_second">
            Политика защиты персональной информации
        </a>
    </div>
</footer>