{% extends 'base.html' %}

{% block content %}
<link href="{{css}}forum-style.css" rel="stylesheet">
<main class="main-content" style="margin-top: 80px;">
	<section class="forum-links" style="position: relative;min-height: 500px !important;">
		<div id="particles-js" style="position: absolute;top: 0;bottom: 0; right: 0; left: 0;"></div>
		<div class="container">
			<a href="/forum" class="btn btn-link link-forum">
				<span class="link-icon"></span>
				<span class="btn-text-gradient">Форум</span>
			</a>
			<a href="/news" class="btn btn-link btn-link-deactive link-news">
				<span class="link-icon" style="top: 20px; left: 20px !important;"></span>
				<span class="btn-text-gradient">Новости</span>
			</a>
		</div>
	</section>
	<section class="forum" style="margin-top: -275px !important;">
		<div class="container">
			<div class="forum-theme" style="z-index: 100;">
				<div class="forum-section">
					<div class="forum-heading">
						<div>
							<ul class="breadcrumbs">
								<li>
									<a href="/members">Пользователи</a>
								</li>
							</ul>
							<h2 class="title title-white">Пользователь {{user.login}}</h2>
						</div>
					</div>
					<div class="news-box">
						<div class="all-forum-user-data">
							<a class="user-edit"></a>
							<div class="{{user.active}}">
								<img src="{{img}}{{user.image}}" alt="avatar" class="forum-usr-ava">
							</div>
							<div class="col-forum-user-data">
								<div class="text-first" style="padding-top: 0px;">Права на форуме:<p class="text-second">{{user.rules}}</p></div>
								<div class="text-first">Дата регистрации:<p class="text-second">{{user.date_of_reg}}</p></div>
								<div class="text-first">Последняя активность:<p class="text-second">{{user.last_activity}}</p></div>
								<div class="line"></div>
								<div class="row-forum-user-data">
									<div class="text-first">Темы:<p class="text-second">{{user.forum.dataLength}}</p></div>
									<div class="text-first">Сообщения:<p class="text-second">{{user.forum.messagesLength}}</p></div>
								</div>
							</div>
						</div>
						<div class="user-another-data-container">
							<div class="row-forum-user-btn">
								<a class="forum-user-btn forum-userdata-themes forum-user-btn-active">Темы</a>
								<a class="forum-user-btn forum-userdata-messages">Сообщения</a>
								<a class="forum-user-btn forum-userdata-news">Новости</a>
							</div>
							<div class="selected-forum-user-container">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
{% block mainScripts %}
<script src="{{js}}menuBurger.js"></script>
<script src="{{js}}particles.min.js"></script>
<script>
	particlesJS.load('particles-js', '{{js}}particles.json', function() {});
	$('.header__logo').on('click', function(){
		window.location.href = 'https://hydrarp.ru/';
    });
    var forum_data = '{{user.forum}}';
	forum_data = JSON.parse(forum_data.split("&#39;").join('"'));
	let html = '';
	for(let i=0; i<forum_data.data.length; i++){
		let forum_item = forum_data.data[i];
		html += '<div class="forum-line">' +
					'<div class="forum-category">' +
						'<a href="/forum/' + forum_item.link + '" class="forum-category-link">' + forum_item.header + (forum_item.blocked ? '<span class="forum-category-closed"></span>' : '') + '</a>' +
						'<div class="forum-category-desc">' +
							'<p class="forum-category-author">Создано: <a href="' + forum_item.creator.link + '" class="author-link">' + forum_item.creator.login + '</a></p>' +
							'<p class="forum-category-date">Дата: <time datetime="' + forum_item.creator.date + '">' + forum_item.creator.date + '</time></p>' +
						'</div>' +
					'</div>' +
					'<div class="forum-desc">'
		if(forum_item.themes_length)
			html +=		'<div class="forum-desc-col">' +
							'<p class="forum-desc-title">Темы</p>' +
							'<span class="themes-count">' + forum_item.themes_length + '</span>' +
						'</div>'
		html +=
						'<div class="forum-desc-col">' +
							'<p class="forum-desc-title">Сообщения</p>' +
							'<span class="messages-count">' + forum_item.messages_length + '</span>' +
						'</div>'
		if(forum_item.lastMessage.user.link.length && forum_item.lastMessage.user.name.length)
			html +=  	'<div class="forum-desc-col">' +
							'<p class="forum-desc-title">Последнее сообщение</p>' +
							'<div class="last-message">' +
								'<a href="' + forum_item.lastMessage.user.link + '" class="last-message-link">' + forum_item.lastMessage.user.name + '; </a>' +
								'<time class="last-message-date">' + forum_item.lastMessage.date + '</time>' +
							'</div>' +
						'</div>'
		html += 	'</div>' +
				'</div>'
	}
	$('.selected-forum-user-container').append(html);

    $('.forum-userdata-themes').on('click', function(){
    	if(!$(this).hasClass('forum-user-btn-active')){
    		$('.forum-user-btn').removeClass('forum-user-btn-active');
    		$(this).addClass('forum-user-btn-active')
    		$('.selected-forum-user-container').html('');
			let html = '';
			for(let i=0; i<forum_data.data.length; i++){
				let forum_item = forum_data.data[i];
				html += '<div class="forum-line">' +
							'<div class="forum-category">' +
								'<a href="/forum/' + forum_item.link + '" class="forum-category-link">' + forum_item.header + (forum_item.blocked ? '<span class="forum-category-closed"></span>' : '') + '</a>' +
								'<div class="forum-category-desc">' +
									'<p class="forum-category-author">Создано: <a href="' + forum_item.creator.link + '" class="author-link">' + forum_item.creator.login + '</a></p>' +
									'<p class="forum-category-date">Дата: <time datetime="' + forum_item.creator.date + '">' + forum_item.creator.date + '</time></p>' +
								'</div>' +
							'</div>' +
							'<div class="forum-desc">'
				if(forum_item.themes_length)
					html +=		'<div class="forum-desc-col">' +
									'<p class="forum-desc-title">Темы</p>' +
									'<span class="themes-count">' + forum_item.themes_length + '</span>' +
								'</div>'
				html +=
								'<div class="forum-desc-col">' +
									'<p class="forum-desc-title">Сообщения</p>' +
									'<span class="messages-count">' + forum_item.messages_length + '</span>' +
								'</div>'
				if(forum_item.lastMessage.user.link.length && forum_item.lastMessage.user.name.length)
					html +=  	'<div class="forum-desc-col">' +
									'<p class="forum-desc-title">Последнее сообщение</p>' +
									'<div class="last-message">' +
										'<a href="' + forum_item.lastMessage.user.link + '" class="last-message-link">' + forum_item.lastMessage.user.name + '; </a>' +
										'<time class="last-message-date">' + forum_item.lastMessage.date + '</time>' +
									'</div>' +
								'</div>'
				html += 	'</div>' +
						'</div>'
			}
			$('.selected-forum-user-container').append(html);
    	}
    });
    $('.forum-userdata-messages').on('click', function(){
    	if(!$(this).hasClass('forum-user-btn-active')){
    		$('.forum-user-btn').removeClass('forum-user-btn-active');
    		$(this).addClass('forum-user-btn-active')
    		$('.selected-forum-user-container').html('');
			let html = '';
			for(let i=0; i<forum_data.messages.length; i++){
				let message = forum_data.messages[i];
				html +='<a href="/forum/' + message.link + '" class="message-content" style="padding: 16px;text-decoration: none;outline: none;align-items: center;flex-direction: row;">' +
							'<div style="margin: 0px;width: auto;position: relative;flex-shrink: 0;padding-right: 23px;text-align: center;height: 64px;width: 64px;">' +
								'<img src="{{img}}{{user.image}}" style="height:64px; width: 64px; object-fit: cover; border-radius: 20px;">' +
							'</div>' +
							'<div class="message-text" style="margin: 0px; outline: none; color:#666;text-decoration: none; margin-left: 23px;font-size: 14px;">' +
								 message.text +
							'</div>' +
						'</a>'
			}
			$('.selected-forum-user-container').append(html);
    	}
    });

    var links = $('.header__link');
    links.get(5).className = links.get(5).className + ' header__link_active';
    function messageEdit(e){
        if(!JSON.parse(('{{current_user.is_authenticated}}').toLowerCase())) return;
        $('.user-copy-link').unbind('click');
        $('.user-complaint').unbind('click');
        $('.user-block').unbind('click');
        $('body').unbind('click');
        $(".edit-menu").remove();
        let edit_html = '<div class="edit-menu" style="right: 62px !important;top: -6px !important;">' +
                            '<a class="user-copy-link">Поделиться</a>' +
                            '<a class="link-red user-complaint">Пожаловаться</a>' +
                            (parseInt('{{current_user.admin}}') ? '<a class="link-red user-block">Заблокировать</a>' : '') +
                        '</div>'
        $(this.parentElement).append(edit_html);

        $('.user-copy-link').on('click', function(){
            navigator.clipboard.writeText(window.location.href)
            $(".edit-menu").remove();
            $('body').unbind('click');
        });
        $('.user-complaint').on('click', function(){
            $(".edit-menu").remove()
            $('body').unbind('click');
        });
        $('.user-block').on('click', function(){
            //modal
        });
        setTimeout(()=>{
			$('body').on('click', function(){
				$(".edit-menu").remove();
			});
        }, 100);
    }
    $('.user-edit').on('click', messageEdit);
</script>
{% endblock %}