<div class="block" style="background: url('cid:bg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    color: #77f;width: 500px;
        height: 550px;
        padding-top: 123px;
        padding-right: 100px;
        padding-left: 100px;">
    <div class="block-inner" style="padding: 5px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 10px;">
        <img id="elogo" src="cid:logo" style="margin-left: 150px;
        width: 200px;" alt="">
        <p class="ep-code" style="margin-left: 176px;
        width: 180px;">
                <span class="email-span" style="font-size: 2rem; color: #c7f;">{{code}}</span>
            <br>
        </p>
        <p class="ep-msg" style="margin-left: 60px;
        width: 380px;
        font-size: 1.2rem;
        text-align: center;"></span>Воспользуйтесь этим кодом, чтобы присоединиться к нашему сервису HydraRP!</p>
    </div>
</div>